{{ partial:header }}
<!-----------------------------------------BODY CONTAINER START----------------------------------------->    
<!-----------------------------------------BODY CONTENT START----------------------------------------->  

<!----------------------------------------- HERO START----------------------------------------->  
<!--hero goes here-->
<!----------------------------------------- HERO END----------------------------------------->  

<!----------------------------------------- SECTION XXX START ----------------------------------------->  
<!--sections starts-->
{{ template_content }}
<!--sections ends-->
<!----------------------------------------- SECTION XXX END ----------------------------------------->

<!-----------------------------------------BODY CONTENT END----------------------------------------->  
<!-----------------------------------------BODY CONTAINER END-----------------------------------------> 
{{ partial:footer }}